
* {
    text-align: center;
}

body {
    font-family: 'Roboto Mono', monospace;
    min-height: 400px;
    background-image: url('https://media.istockphoto.com/vectors/retro-style-landscape-with-blue-grid-background-vector-id1263746475?k=6&m=1263746475&s=612x612&w=0&h=AuNNw71_SobyXHIWuJ38cOH8GC0ItcWgwg4kzepHing=');
    background-color: #111;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.container {
    text-align: center;
    padding: 20px;
    height: 100vh;
}

.page-title {
    color: #000000;
    margin: 0 0 5px;
}

.page-subtitle {
    color: #000000;
    margin-top: 5px;
}

.page-logo {
    width: 200px;
}

.alura-logo {
    width: 40px;
    position: absolute;
    top: 10px;
    right: 10px;
}

table {
    border: 2px solid white;
    border-collapse: collapse;
}

h1 {
    color: white;
}
h2 {
  color: black
}

th, tr, td {
    border: solid 1px white;
    color: white;
}